@use "./../variables/" as *;

.about-us {
  padding: 0 8% !important;
  .section__title {
    text-align: start;
  }
  .body {
    p {
      margin-bottom: 1em;
      a {
        color: darken($color: $theme-clr, $amount: 5%);
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__gallery {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    .about-us__card {
      width: 300px;
      .card__img {
        width: 100%;
        img {
          // height: 100%;
          // width: auto;
          display: block;
        }
      }
      .card__body {
        padding: 10px;
        text-align: center;
      }
    }
  }
}
