@use "./../variables/" as *;
@use "./../abstracts/" as *;

.hero-section {
  height: 50vh;
  width: 100%;
  border-radius: 80px 150px 500px 70%;
  background: url("./../../public/background.webp") center / auto 100%;
  overflow: hidden;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100% !important;
    background: radial-gradient(
      150.99% 150.99% at 50.83% 50%,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 49.48%
    );
    .text {
      text-align: center;
      color: white;
      .title {
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 5px;
      }
      .subtitle {
        position: relative;
        text-transform: uppercase;
        margin: 3rem 0;
        letter-spacing: 3px;
        font-size: 1.1rem;
        font-weight: 500;
      }
      .btn {
        position: relative;
        padding: 0.5em 1em;
        background-color: white;
        text-transform: uppercase;
        font-weight: 600;
        color: black;
        transition: 150ms ease-out;
        &:hover {
          letter-spacing: 2px;
        }
      }
      @include media-queries(sm) {
        .title {
          font-size: 2.5rem;
        }
      }
      @include media-queries(md) {
        .title {
          font-size: 2.75rem;
        }
        .subtitle {
          font-size: 1.5rem;
          letter-spacing: 5px;
        }
      }
      @include media-queries(lg) {
        .title {
          font-size: 3rem;
        }
      }
    }
  }
}

.emergency-section {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  .icon {
    color: red;
    font-size: 2rem;
  }
  .text {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 1em;
  }
  @include media-queries(md) {
    padding: 50px;
  }
}

.section {
  margin-bottom: 30px;
  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: $theme-clr;
    margin: 1.5em 0;
  }
}

.certification {
  padding: 25px;
  text-align: center;
  h3 {
    font-size: 1.5rem;
  }
}

.gallery {
  display: grid;
  gap: 30px;
  & > * {
    width: 100%;
  }
  @include media-queries(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-queries(lg) {
    &:not(.blog) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card {
  padding: 0 20px 20px 20px;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
}

.service-card {
  position: relative;
  max-width: 400px;
  .card__inner {
    width: 100%;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    padding: 25px;
  }
  .front {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;

    transition: 500ms ease-in-out;
  }
  .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 500ms ease-in-out;
  }
  &__title {
    font-size: 1.7rem;
    margin: 1em 0;
  }
  &__img {
    width: 100px;
    height: 100px;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 5px solid black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0 100%);
    }
    img {
      width: 100%;
    }
  }
  &__description {
    margin: 1em 0;
  }
  &__btn {
    padding: 0.5em 1em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .background {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  &:hover {
    .front {
      transform: rotateY(-180deg);
    }
    .back {
      transform: rotate(0deg);
    }
  }
}

.blog-card {
  padding: 10px;
  max-width: 400px;
  cursor: pointer;
  &__img {
    width: 100%;
    img {
      width: 100%;
      border-radius: 4px;
    }
  }
  &__title {
    margin: 1em 0;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    padding: 1em 0.5em;
    &__author {
      font-weight: 600;
      opacity: 0.8;
    }
  }
  @include media-queries(md) {
    width: 100%;
  }
}

.events {
  text-align: center;
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    .img-container {
      max-height: 300px;
      max-width: 300px;
      overflow: hidden;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

.testimonial.box-shadow {
  .swiper-slide {
    padding: 50px;
    width: 100%;
    text-align: center;
    .testimonial-text {
      max-width: 750px;
      margin: 0 auto;
    }
    .author {
      margin-top: 1em;
    }
  }
}

.map {
  width: 100%;
  height: 300px;
}

.btn--view-all {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .btn {
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: 600;
  }
}
