.wame {
  position: fixed;
  display: inline-block;
  left: 1em;
  bottom: 1em;
  opacity: 1;
  animation: show 2000ms ease-in-out;
  cursor: pointer;
  z-index: 100;
  @keyframes show {
    from {
      bottom: 80%;
      opacity: 0;
    }
    to {
      bottom: 1em;
      opacity: 1;
    }
  }
}
